In [1]:
import pyspark
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder \
    .master("local[*]") \
    .appName('test') \
    .getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

23/02/15 16:43:48 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
23/02/15 16:43:50 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

In [3]:
!wget https://github.com/DataTalksClub/nyc-tlc-data/releases/download/fhvhv/fhvhv_tripdata_2021-01.csv.gz

--2023-02-15 16:44:05--  https://github.com/DataTalksClub/nyc-tlc-data/releases/download/fhvhv/fhvhv_tripdata_2021-01.csv.gz
Resolving github.com (github.com)... 140.82.121.4
Connecting to github.com (github.com)|140.82.121.4|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/035746e8-4e24-47e8-a3ce-edcf6d1b11c7?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIWNJYAX4CSVEH53A%2F20230215%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20230215T164405Z&X-Amz-Expires=300&X-Amz-Signature=80dbe53640970bf2b6e9618767ec466c867a172a0e969939c74967a4959ec15b&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dfhvhv_tripdata_2021-01.csv.gz&response-content-type=application%2Foctet-stream [following]
--2023-02-15 16:44:05--  https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/035746e8-4e24-47e8-a3ce-edcf6d1b11c7?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIWNJYAX4CSVEH53A%2F20230215%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20230215T164405Z&X-Amz-Expires=300&X-Amz-Signature=80dbe53640970bf2b6e9618767ec466c867a172a0e969939c74967a4959ec15b&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dfhvhv_tripdata_2021-01.csv.gz&response-content-type=application%2Foctet-stream
Resolving objects.githubusercontent.com (objects.githubusercontent.com)... 185.199.109.133, 185.199.111.133, 185.199.108.133, ...
Connecting to objects.githubusercontent.com (objects.githubusercontent.com)|185.199.109.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 129967421 (124M) [application/octet-stream]
Saving to: ‘fhvhv_tripdata_2021-01.csv.gz’

fhvhv_tripdata_2021 100%[===================>] 123.95M  22.7MB/s    in 5.0s

2023-02-15 16:44:11 (24.5 MB/s) - ‘fhvhv_tripdata_2021-01.csv.gz’ saved [129967421/129967421]

In [4]:
df = spark.read \
    .option("header", "true") \
    .csv('fhvhv_tripdata_2021-01.csv.gz')

In [6]:
df.head(5)

[Row(hvfhs_license_num='HV0003', dispatching_base_num='B02682', pickup_datetime='2021-01-01 00:33:44', dropoff_datetime='2021-01-01 00:49:07', PULocationID='230', DOLocationID='166', SR_Flag=None),
 Row(hvfhs_license_num='HV0003', dispatching_base_num='B02682', pickup_datetime='2021-01-01 00:55:19', dropoff_datetime='2021-01-01 01:18:21', PULocationID='152', DOLocationID='167', SR_Flag=None),
 Row(hvfhs_license_num='HV0003', dispatching_base_num='B02764', pickup_datetime='2021-01-01 00:23:56', dropoff_datetime='2021-01-01 00:38:05', PULocationID='233', DOLocationID='142', SR_Flag=None),
 Row(hvfhs_license_num='HV0003', dispatching_base_num='B02764', pickup_datetime='2021-01-01 00:42:51', dropoff_datetime='2021-01-01 00:45:50', PULocationID='142', DOLocationID='143', SR_Flag=None),
 Row(hvfhs_license_num='HV0003', dispatching_base_num='B02764', pickup_datetime='2021-01-01 00:48:14', dropoff_datetime='2021-01-01 01:08:42', PULocationID='143', DOLocationID='78', SR_Flag=None)]

In [33]:
!head -n 1001 fhvhv_tripdata_2021-01.csv.gz > head.csv.gz

In [16]:
import pandas as pd

In [35]:
df_pandas = pd.read_csv('fhvhv_tripdata_2021-01.csv.gz')

In [38]:
spark.createDataFrame(df_pandas).schema

KeyboardInterrupt:

In [39]:
from pyspark.sql import types

In [40]:
schema = types.StructType([
    types.StructField('hvfhs_license_num', types.StringType(), True),
    types.StructField('dispatching_base_num', types.StringType(), True),
    types.StructField('pickup_datetime', types.TimestampType(), True),
    types.StructField('dropoff_datetime', types.TimestampType(), True),
    types.StructField('PULocationID', types.IntegerType(), True),
    types.StructField('DOLocationID', types.IntegerType(), True),
    types.StructField('SR_Flag', types.StringType(), True)
])

In [41]:
df = spark.read \
    .option("header", "true") \
    .schema(schema) \
    .csv('fhvhv_tripdata_2021-01.csv.gz')

In [42]:
df = df.repartition(24)

In [43]:
df.write.parquet('fhvhv/2021/01/')

In [44]:
df = spark.read.parquet('fhvhv/2021/01/')

In [45]:
df.printSchema()

root
 |-- hvfhs_license_num: string (nullable = true)
 |-- dispatching_base_num: string (nullable = true)
 |-- pickup_datetime: timestamp (nullable = true)
 |-- dropoff_datetime: timestamp (nullable = true)
 |-- PULocationID: integer (nullable = true)
 |-- DOLocationID: integer (nullable = true)
 |-- SR_Flag: string (nullable = true)

In [46]:
from pyspark.sql import functions as F

In [47]:
df.show()

+-----------------+--------------------+-------------------+-------------------+------------+------------+-------+
|hvfhs_license_num|dispatching_base_num|    pickup_datetime|   dropoff_datetime|PULocationID|DOLocationID|SR_Flag|
+-----------------+--------------------+-------------------+-------------------+------------+------------+-------+
|           HV0005|              B02510|2021-01-10 17:40:01|2021-01-10 17:48:10|          97|          25|   null|
|           HV0005|              B02510|2021-01-08 18:19:44|2021-01-08 18:55:57|         138|         265|   null|
|           HV0003|              B02876|2021-01-01 16:47:20|2021-01-01 16:58:28|          50|         163|   null|
|           HV0005|              B02510|2021-01-15 17:50:08|2021-01-15 18:07:24|         163|          79|   null|
|           HV0005|              B02510|2021-01-12 17:26:40|2021-01-12 17:57:57|          47|          74|   null|
|           HV0003|              B02765|2021-01-05 02:00:14|2021-01-05 02:19:39|          48|          95|   null|
|           HV0003|              B02872|2021-01-02 00:34:43|2021-01-02 00:45:38|          63|          77|   null|
|           HV0005|              B02510|2021-01-06 23:24:42|2021-01-06 23:33:36|         238|          41|   null|
|           HV0003|              B02764|2021-01-02 16:20:11|2021-01-02 16:56:36|          63|         244|   null|
|           HV0003|              B02764|2021-01-24 16:00:53|2021-01-24 16:07:40|         210|         165|   null|
|           HV0003|              B02869|2021-01-16 19:35:17|2021-01-16 19:50:20|         113|         143|   null|
|           HV0005|              B02510|2021-01-28 22:17:58|2021-01-28 22:27:29|          91|          89|   null|
|           HV0003|              B02764|2021-01-01 11:15:17|2021-01-01 11:24:55|         231|         148|   null|
|           HV0003|              B02867|2021-01-19 12:05:32|2021-01-19 12:33:46|         228|         210|   null|
|           HV0003|              B02875|2021-01-17 13:54:52|2021-01-17 14:07:03|          39|          61|   null|
|           HV0003|              B02872|2021-01-30 18:03:33|2021-01-30 18:23:17|          42|         250|   null|
|           HV0003|              B02512|2021-01-16 12:36:55|2021-01-16 13:03:23|         131|         265|   null|
|           HV0005|              B02510|2021-01-31 05:04:30|2021-01-31 05:12:53|          17|          36|   null|
|           HV0003|              B02395|2021-01-30 23:07:14|2021-01-30 23:27:34|         174|          47|   null|
|           HV0005|              B02510|2021-01-14 18:14:20|2021-01-14 18:33:58|          33|         255|   null|
+-----------------+--------------------+-------------------+-------------------+------------+------------+-------+
only showing top 20 rows

In [48]:
def crazy_stuff(base_num):
    num = int(base_num[1:])
    if num % 7 == 0:
        return f's/{num:03x}'
    elif num % 3 == 0:
        return f'a/{num:03x}'
    else:
        return f'e/{num:03x}'

In [49]:
crazy_stuff_udf = F.udf(crazy_stuff, returnType=types.StringType())

In [50]:
df \
    .withColumn('pickup_date', F.to_date(df.pickup_datetime)) \
    .withColumn('dropoff_date', F.to_date(df.dropoff_datetime)) \
    .withColumn('base_id', crazy_stuff_udf(df.dispatching_base_num)) \
    .select('base_id', 'pickup_date', 'dropoff_date', 'PULocationID', 'DOLocationID') \
    .show()

+-------+-----------+------------+------------+------------+
|base_id|pickup_date|dropoff_date|PULocationID|DOLocationID|
+-------+-----------+------------+------------+------------+
|  e/9ce| 2021-01-10|  2021-01-10|          97|          25|
|  e/9ce| 2021-01-08|  2021-01-08|         138|         265|
|  e/b3c| 2021-01-01|  2021-01-01|          50|         163|
|  e/9ce| 2021-01-15|  2021-01-15|         163|          79|
|  e/9ce| 2021-01-12|  2021-01-12|          47|          74|
|  s/acd| 2021-01-05|  2021-01-05|          48|          95|
|  e/b38| 2021-01-02|  2021-01-02|          63|          77|
|  e/9ce| 2021-01-06|  2021-01-06|         238|          41|
|  e/acc| 2021-01-02|  2021-01-02|          63|         244|
|  e/acc| 2021-01-24|  2021-01-24|         210|         165|
|  e/b35| 2021-01-16|  2021-01-16|         113|         143|
|  e/9ce| 2021-01-28|  2021-01-28|          91|          89|
|  e/acc| 2021-01-01|  2021-01-01|         231|         148|
|  e/b33| 2021-01-19|  2021-01-19|         228|         210|
|  e/b3b| 2021-01-17|  2021-01-17|          39|          61|
|  e/b38| 2021-01-30|  2021-01-30|          42|         250|
|  e/9d0| 2021-01-16|  2021-01-16|         131|         265|
|  e/9ce| 2021-01-31|  2021-01-31|          17|          36|
|  e/95b| 2021-01-30|  2021-01-30|         174|          47|
|  e/9ce| 2021-01-14|  2021-01-14|          33|         255|
+-------+-----------+------------+------------+------------+
only showing top 20 rows

In [51]:
df.select('pickup_datetime', 'dropoff_datetime', 'PULocationID', 'DOLocationID') \
  .filter(df.hvfhs_license_num == 'HV0003')

DataFrame[pickup_datetime: timestamp, dropoff_datetime: timestamp, PULocationID: int, DOLocationID: int]

23/02/15 17:34:02 WARN JavaUtils: Attempt to delete using native Unix OS command failed for path = /tmp/blockmgr-cb7a416f-df35-4388-8759-4eaa59950c1d. Falling back to Java IO way
java.io.IOException: Failed to delete: /tmp/blockmgr-cb7a416f-df35-4388-8759-4eaa59950c1d
	at org.apache.spark.network.util.JavaUtils.deleteRecursivelyUsingUnixNative(JavaUtils.java:171)
	at org.apache.spark.network.util.JavaUtils.deleteRecursively(JavaUtils.java:110)
	at org.apache.spark.network.util.JavaUtils.deleteRecursively(JavaUtils.java:91)
	at org.apache.spark.util.Utils$.deleteRecursively(Utils.scala:1206)
	at org.apache.spark.storage.DiskBlockManager.$anonfun$doStop$1(DiskBlockManager.scala:374)
	at org.apache.spark.storage.DiskBlockManager.$anonfun$doStop$1$adapted(DiskBlockManager.scala:370)
	at scala.collection.IndexedSeqOptimized.foreach(IndexedSeqOptimized.scala:36)
	at scala.collection.IndexedSeqOptimized.foreach$(IndexedSeqOptimized.scala:33)
	at scala.collection.mutable.ArrayOps$ofRef.foreach(ArrayOps.scala:198)
	at org.apache.spark.storage.DiskBlockManager.doStop(DiskBlockManager.scala:370)
	at org.apache.spark.storage.DiskBlockManager.stop(DiskBlockManager.scala:365)
	at org.apache.spark.storage.BlockManager.stop(BlockManager.scala:2026)
	at org.apache.spark.SparkEnv.stop(SparkEnv.scala:95)
	at org.apache.spark.SparkContext.$anonfun$stop$23(SparkContext.scala:2140)
	at org.apache.spark.util.Utils$.tryLogNonFatalError(Utils.scala:1484)
	at org.apache.spark.SparkContext.stop(SparkContext.scala:2140)
	at org.apache.spark.SparkContext.$anonfun$new$35(SparkContext.scala:660)
	at org.apache.spark.util.SparkShutdownHook.run(ShutdownHookManager.scala:214)
	at org.apache.spark.util.SparkShutdownHookManager.$anonfun$runAll$2(ShutdownHookManager.scala:188)
	at scala.runtime.java8.JFunction0$mcV$sp.apply(JFunction0$mcV$sp.java:23)
	at org.apache.spark.util.Utils$.logUncaughtExceptions(Utils.scala:2066)
	at org.apache.spark.util.SparkShutdownHookManager.$anonfun$runAll$1(ShutdownHookManager.scala:188)
	at scala.runtime.java8.JFunction0$mcV$sp.apply(JFunction0$mcV$sp.java:23)
	at scala.util.Try$.apply(Try.scala:213)
	at org.apache.spark.util.SparkShutdownHookManager.runAll(ShutdownHookManager.scala:188)
	at org.apache.spark.util.SparkShutdownHookManager$$anon$2.run(ShutdownHookManager.scala:178)
	at java.base/java.util.concurrent.Executors$RunnableAdapter.call(Executors.java:515)
	at java.base/java.util.concurrent.FutureTask.run(FutureTask.java:264)
	at java.base/java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1128)
	at java.base/java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:628)
	at java.base/java.lang.Thread.run(Thread.java:834)

----------------------------------------
Exception occurred during processing of request from ('127.0.0.1', 44012)
Traceback (most recent call last):
  File "/home/stl/anaconda3/lib/python3.9/socketserver.py", line 316, in _handle_request_noblock
    self.process_request(request, client_address)
  File "/home/stl/anaconda3/lib/python3.9/socketserver.py", line 347, in process_request
    self.finish_request(request, client_address)
  File "/home/stl/anaconda3/lib/python3.9/socketserver.py", line 360, in finish_request
    self.RequestHandlerClass(request, client_address, self)
  File "/home/stl/anaconda3/lib/python3.9/socketserver.py", line 747, in __init__
    self.handle()
  File "/home/stl/spark/spark-3.3.1-bin-hadoop3/python/pyspark/accumulators.py", line 281, in handle
    poll(accum_updates)
  File "/home/stl/spark/spark-3.3.1-bin-hadoop3/python/pyspark/accumulators.py", line 253, in poll
    if func():
  File "/home/stl/spark/spark-3.3.1-bin-hadoop3/python/pyspark/accumulators.py", line 257, in accum_updates
    num_updates = read_int(self.rfile)
  File "/home/stl/spark/spark-3.3.1-bin-hadoop3/python/pyspark/serializers.py", line 595, in read_int
    raise EOFError
EOFError
----------------------------------------