In [1]:
import pyspark
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder \
    .master("local[*]") \
    .appName('test') \
    .getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

23/02/24 00:53:49 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
23/02/24 00:53:50 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

In [3]:
!wget https://github.com/DataTalksClub/nyc-tlc-data/releases/download/fhvhv/fhvhv_tripdata_2021-06.csv.gz

--2023-02-24 00:53:51--  https://github.com/DataTalksClub/nyc-tlc-data/releases/download/fhvhv/fhvhv_tripdata_2021-06.csv.gz
Resolving github.com (github.com)... 140.82.121.4
Connecting to github.com (github.com)|140.82.121.4|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/4564ad9e-a6da-4923-ad6f-35ff02446a51?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIWNJYAX4CSVEH53A%2F20230224%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20230224T005351Z&X-Amz-Expires=300&X-Amz-Signature=157a14b29584c2b56f529ad775f4b3c907d6e36e1f01017d69f991ea2c86b798&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dfhvhv_tripdata_2021-06.csv.gz&response-content-type=application%2Foctet-stream [following]
--2023-02-24 00:53:51--  https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/4564ad9e-a6da-4923-ad6f-35ff02446a51?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIWNJYAX4CSVEH53A%2F20230224%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20230224T005351Z&X-Amz-Expires=300&X-Amz-Signature=157a14b29584c2b56f529ad775f4b3c907d6e36e1f01017d69f991ea2c86b798&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dfhvhv_tripdata_2021-06.csv.gz&response-content-type=application%2Foctet-stream
Resolving objects.githubusercontent.com (objects.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to objects.githubusercontent.com (objects.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 175799316 (168M) [application/octet-stream]
Saving to: ‘fhvhv_tripdata_2021-06.csv.gz.1’

fhvhv_tripdata_2021 100%[===================>] 167.66M  6.08MB/s    in 36s

2023-02-24 00:54:27 (4.71 MB/s) - ‘fhvhv_tripdata_2021-06.csv.gz.1’ saved [175799316/175799316]

In [4]:
df = spark.read \
    .option("header", "true") \
    .csv('fhvhv_tripdata_2021-06.csv.gz')

In [5]:
import pandas as pd
from pyspark.sql import types

In [6]:
df_pandas = pd.read_csv('fhvhv_tripdata_2021-06.csv.gz')

In [7]:
df_pandas.head()

,dispatching_base_num,pickup_datetime,dropoff_datetime,PULocationID,DOLocationID,SR_Flag,Affiliated_base_number
0,B02764,2021-06-01 00:02:41,2021-06-01 00:07:46,174,18,N,B02764
1,B02764,2021-06-01 00:16:16,2021-06-01 00:21:14,32,254,N,B02764
2,B02764,2021-06-01 00:27:01,2021-06-01 00:42:11,240,127,N,B02764
3,B02764,2021-06-01 00:46:08,2021-06-01 00:53:45,127,235,N,B02764
4,B02510,2021-06-01 00:45:42,2021-06-01 01:03:33,144,146,N,NaN

In [8]:
schema = types.StructType([
    types.StructField('dispatching_base_num', types.StringType(), True),
    types.StructField('pickup_datetime', types.TimestampType(), True),
    types.StructField('dropoff_datetime', types.TimestampType(), True),
    types.StructField('PULocationID', types.IntegerType(), True),
    types.StructField('DOLocationID', types.IntegerType(), True),
    types.StructField('SR_Flag', types.StringType(), True),
    types.StructField('Affiliated_base_number', types.StringType(), True)
])

In [9]:
df = spark.read \
    .option("header", "true") \
    .schema(schema) \
    .csv('fhvhv_tripdata_2021-06.csv.gz')

In [10]:
df = df.repartition(12)

In [11]:
df.write.parquet('fhvhv/2021/06/', mode='overwrite')

In [26]:
df = spark.read.parquet('fhvhv/2021/06/')

In [27]:
df.registerTempTable('fhvhv_2021_6')

In [17]:
spark.sql("""
SELECT 
    COUNT(*)
FROM
    fhvhv_2021_6
WHERE 
    CAST(pickup_datetime AS DATE)=DATE("2021-06-15")
""").show()

+--------+
|count(1)|
+--------+
|  452470|
+--------+

In [36]:
spark.sql("""
SELECT
    pickup_datetime,
    dropoff_datetime,
    DATEDIFF(hour, pickup_datetime, dropoff_datetime) AS DateDiff
FROM
    fhvhv_2021_6
ORDER BY
    DateDiff DESC
""").show()

+-------------------+-------------------+--------+
|    pickup_datetime|   dropoff_datetime|DateDiff|
+-------------------+-------------------+--------+
|2021-06-25 13:55:41|2021-06-28 08:48:25|      66|
|2021-06-22 12:09:45|2021-06-23 13:42:44|      25|
|2021-06-27 10:32:29|2021-06-28 06:31:20|      19|
|2021-06-26 22:37:11|2021-06-27 16:49:01|      18|
|2021-06-23 20:40:43|2021-06-24 13:08:44|      16|
|2021-06-23 22:03:31|2021-06-24 12:19:39|      14|
|2021-06-24 23:11:00|2021-06-25 13:05:35|      13|
|2021-06-27 07:45:19|2021-06-27 19:07:16|      11|
|2021-06-04 20:56:02|2021-06-05 08:36:14|      11|
|2021-06-20 17:05:12|2021-06-21 04:04:16|      10|
|2021-06-01 12:25:29|2021-06-01 22:41:32|      10|
|2021-06-15 06:47:22|2021-06-15 16:11:30|       9|
|2021-06-09 09:18:42|2021-06-09 18:20:31|       9|
|2021-06-08 16:38:14|2021-06-09 02:07:03|       9|
|2021-06-11 23:26:20|2021-06-12 08:54:38|       9|
|2021-06-28 13:13:59|2021-06-28 23:11:58|       9|
|2021-06-25 02:32:24|2021-06-25 11:56:01|       9|
|2021-06-30 09:30:46|2021-06-30 18:34:08|       9|
|2021-06-01 12:01:46|2021-06-01 21:59:45|       9|
|2021-06-03 11:10:01|2021-06-03 20:31:58|       9|
+-------------------+-------------------+--------+
only showing top 20 rows

In [37]:
zone=spark.read.parquet('zones/')

In [38]:
zone.show()

+----------+-------------+--------------------+------------+
|LocationID|      Borough|                Zone|service_zone|
+----------+-------------+--------------------+------------+
|         1|          EWR|      Newark Airport|         EWR|
|         2|       Queens|         Jamaica Bay|   Boro Zone|
|         3|        Bronx|Allerton/Pelham G...|   Boro Zone|
|         4|    Manhattan|       Alphabet City| Yellow Zone|
|         5|Staten Island|       Arden Heights|   Boro Zone|
|         6|Staten Island|Arrochar/Fort Wad...|   Boro Zone|
|         7|       Queens|             Astoria|   Boro Zone|
|         8|       Queens|        Astoria Park|   Boro Zone|
|         9|       Queens|          Auburndale|   Boro Zone|
|        10|       Queens|        Baisley Park|   Boro Zone|
|        11|     Brooklyn|          Bath Beach|   Boro Zone|
|        12|    Manhattan|        Battery Park| Yellow Zone|
|        13|    Manhattan|   Battery Park City| Yellow Zone|
|        14|     Brooklyn|           Bay Ridge|   Boro Zone|
|        15|       Queens|Bay Terrace/Fort ...|   Boro Zone|
|        16|       Queens|             Bayside|   Boro Zone|
|        17|     Brooklyn|             Bedford|   Boro Zone|
|        18|        Bronx|        Bedford Park|   Boro Zone|
|        19|       Queens|           Bellerose|   Boro Zone|
|        20|        Bronx|             Belmont|   Boro Zone|
+----------+-------------+--------------------+------------+
only showing top 20 rows

In [39]:
df_join = df.join(zone, df.PULocationID == zone.LocationID)

In [43]:
df_join.write.parquet('data/report/revenue/zones', mode='overwrite')

In [44]:
df_join = spark.read.parquet('data/report/revenue/zones')

In [45]:
df_join.registerTempTable('joined')

In [46]:
df_join.show()

+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+----------+---------+--------------------+------------+
|dispatching_base_num|    pickup_datetime|   dropoff_datetime|PULocationID|DOLocationID|SR_Flag|Affiliated_base_number|LocationID|  Borough|                Zone|service_zone|
+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+----------+---------+--------------------+------------+
|              B02889|2021-06-04 20:51:44|2021-06-04 21:10:12|         239|         158|      N|                B02889|       239|Manhattan|Upper West Side S...| Yellow Zone|
|              B02800|2021-06-04 15:50:15|2021-06-04 16:19:29|          75|         116|      N|                  null|        75|Manhattan|   East Harlem South|   Boro Zone|
|              B02510|2021-06-02 21:03:38|2021-06-02 21:10:12|         167|         168|      N|                  null|       167|    Bronx|  Morrisania/Melrose|   Boro Zone|
|              B02867|2021-06-02 12:51:57|2021-06-02 13:05:09|         151|         142|      N|                B02867|       151|Manhattan|    Manhattan Valley| Yellow Zone|
|              B02869|2021-06-21 09:51:45|2021-06-21 10:09:17|         106|          65|      N|                B02869|       106| Brooklyn|             Gowanus|   Boro Zone|
|              B02764|2021-06-02 13:27:03|2021-06-02 13:38:20|         113|         148|      N|                B02764|       113|Manhattan|Greenwich Village...| Yellow Zone|
|              B02764|2021-06-10 14:48:23|2021-06-10 16:06:10|         250|         239|      N|                B02764|       250|    Bronx|Westchester Villa...|   Boro Zone|
|              B02510|2021-06-09 22:38:49|2021-06-09 23:11:58|         132|          33|      N|                  null|       132|   Queens|         JFK Airport|    Airports|
|              B02510|2021-06-26 06:50:43|2021-06-26 07:00:20|         238|         244|      N|                  null|       238|Manhattan|Upper West Side N...| Yellow Zone|
|              B02872|2021-06-07 08:04:00|2021-06-07 08:40:25|         198|         234|      N|                B02872|       198|   Queens|           Ridgewood|   Boro Zone|
|              B02765|2021-06-24 20:19:42|2021-06-24 20:38:22|         147|          42|      N|                B02765|       147|    Bronx|            Longwood|   Boro Zone|
|              B02884|2021-06-05 17:38:24|2021-06-05 18:05:30|         142|         232|      N|                B02884|       142|Manhattan| Lincoln Square East| Yellow Zone|
|              B02765|2021-06-13 15:44:27|2021-06-13 16:04:38|          26|         165|      N|                B02765|        26| Brooklyn|        Borough Park|   Boro Zone|
|              B02510|2021-06-26 18:37:10|2021-06-26 18:56:01|         237|         145|      N|                  null|       237|Manhattan|Upper East Side S...| Yellow Zone|
|              B02764|2021-06-23 14:44:10|2021-06-23 14:58:06|          45|          33|      N|                B02764|        45|Manhattan|           Chinatown| Yellow Zone|
|              B02510|2021-06-20 02:11:32|2021-06-20 02:22:00|          49|          37|      N|                  null|        49| Brooklyn|        Clinton Hill|   Boro Zone|
|              B02764|2021-06-29 19:02:50|2021-06-29 19:05:25|         140|         140|      N|                B02764|       140|Manhattan|     Lenox Hill East| Yellow Zone|
|              B02875|2021-06-02 15:27:05|2021-06-02 15:37:27|          32|         185|      N|                B02875|        32|    Bronx|           Bronxdale|   Boro Zone|
|              B02882|2021-06-18 12:48:43|2021-06-18 12:58:22|          95|         134|      N|                B02882|        95|   Queens|        Forest Hills|   Boro Zone|
|              B02510|2021-06-23 08:59:54|2021-06-23 09:44:49|         171|         140|      N|                  null|       171|   Queens|  Murray Hill-Queens|   Boro Zone|
+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+----------+---------+--------------------+------------+
only showing top 20 rows

In [49]:
spark.sql("""
SELECT 
    zone AS zone,

    COUNT(1) AS number_records
FROM
    joined
GROUP BY
    1
ORDER BY
    number_records DESC
""").show()

+--------------------+--------------+
|                zone|number_records|
+--------------------+--------------+
| Crown Heights North|        231279|
|        East Village|        221244|
|         JFK Airport|        188867|
|      Bushwick South|        187929|
|       East New York|        186780|
|TriBeCa/Civic Center|        164344|
|   LaGuardia Airport|        161596|
|            Union Sq|        158937|
|        West Village|        154698|
|             Astoria|        152493|
|     Lower East Side|        151020|
|        East Chelsea|        147673|
|Central Harlem North|        146402|
|Williamsburg (Nor...|        143683|
|          Park Slope|        143594|
|  Stuyvesant Heights|        141427|
|        Clinton East|        139611|
|West Chelsea/Huds...|        139431|
|             Bedford|        138428|
|         Murray Hill|        137879|
+--------------------+--------------+
only showing top 20 rows